{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if links %}
        <div class="row">
            {% for link in links %}
			<div style="border: 1px solid blue; height: 100px;" class="col-lg-2 ">
                <a href="{{ link.url }}" >{{ link.title }}</a>
                <p><span class="small">Submitted by </span>{{ link.author.username}}</p>
            </div>   
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            No links found.
        </div>
    {% endif %}
{% endblock %}
